*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.cabecera{
    margin:  auto;
    margin-bottom: 2px;
    background-color: rgba(39, 2, 204, 0.705);
    text-align: center;
    box-shadow: -4px -1px 15px 0px rgba(0,0,0,0.69);
}
ul{
    list-style: none;
    display: flex;
}
.lista li{
    font-size: 17px;
    flex: 1;
}
#contenedor{
    /* border: 2px solid rgb(153, 51, 144); */
    width: 30%;
    padding: 10px;
    background-color: rgba(105, 32, 173, 0.425);
    margin: 0 auto;
}
.post{
    background: blue;
    text-align: center;
    border: 5px solid brown;
    border-radius: 10px;
    
}